{% extends "site_base.html" %}

{% block body %}
	<div class="container">

		<div class="row">
			<div class="span8 offset2 text-center">
				
				<br>
				<br>

				<div class="well span3">
					<h3>Normal</h3>
					<p><i class="icon-usd icon-2x"></i><span class="subscription-price"> 15</span></p>
					<p>per month</p>
					{% include "main/payment/_payment_form.html" with plan=plans.normal %}

					<a href="" class="subscribeBtn btn btn-success btn-large">Sign Up</a>
					<br>
					<br>
				</div>

				<div class="well span3">
					<h3>Premier</h3>
					<p><i class="icon-usd icon-2x"></i><span class="subscription-price"> 30</span></p>
					<p>per year</p>
					{% include "main/payment/_payment_form.html" with plan=plans.premier %}

					<a href="" class="subscribeBtn btn btn-success btn-large">Sign Up</a>
					<br>
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<p><small>All payments are securely handled by <a href="//www.stripe.com" target="_blank">Stripe</a>.</small></p>
			</div>
		</div>		
	</div>

{% endblock body %}

{% block extra_js %}
{% endblock extra_js %}