{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block style %}
      <!-- Stylesheets -->
        <link href="/static/header/header.css" rel="stylesheet">
        <link href="/static/style/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/fontawesome/css/font-awesome.css">
        <link href="/static/style/style2.css" rel="stylesheet">
        <link href="/static/style/slider2.css" rel="stylesheet">
        
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegoo" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/style/flexslider.css">
        

        <link rel="stylesheet"  href="/static/style/responsive.css" type="text/css" media="all">
        <!-- social fonts --> 
        <link rel="stylesheet" href="/static/fonts/stylesheet.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/header_style.css">

        <link rel="stylesheet" href="/static/test.css">
        <!-- vmap --> 
        <link rel="stylesheet" href="/static/vmap/jqvmap.css">


        <!-- sharethis webservice --> 
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "fc960723-2a1c-4123-bacd-9e76284af85e", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

        
    {% endblock style %}  

{% block extra_style %}
  <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <br/>
                <div class="panel panel-default">
                  
                    <div class="panel-body">

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                            <div class="panel panel-default">
                                
                                <div class="panel-body" style='background:#fff'>

                                    <br>
                                      <!-- second form to hold -->  

                                    <div class="col-sm-11">
                                      <form class="form-horizontal niceform" action="." method="post" enctype="multipart/form-data" role="form">
                                      {% csrf_token %}

                                      <p class='login-helptext'>S'authentifier</p>
                                      <hr/>

                                        {{ form.non_field_errors }}
                                        <div class="clearfix"></div>

                                        <form action="{% url django.contrib.auth.views.login %}" method="post" class="login_form">{% csrf_token %}
                                          <p>
                                            <label for="id_username">Username</label> 
                                            <input type="text" name="username" id="id_username"></p>
                                              {% if form.username.errors %}  <span class="help-inline">{{ form.username.errors }}</span> {% endif %}

                                          <p>
                                            <label for="id_password">Password</label> 
                                            <input type="password" name="password" id="id_password">
                                          </p>
                                            {% if form.password1.errors %}  <span class="help-inline">{{ form.password1.errors }}</span> {% endif %}

                                          <br/>


                                          
                                          <div class="form-actions">
                                            <button type="submit" class="btn btn-primary">Valider</button><br/>
                                            <button type="button" class="btn btn-danger" onclick='javascrpt:window.location.href="/"'>Retour</button>
                                          </div>
                                          
                                        </form>
                                     
                                      </form>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <b>Vous ne possedez pas de compte ?</b> <a href="/accounts/register/">devenez membre .</a><br/>
                                    <b>Vous avez oublié votre mot de passe ?</b> <a href="/accounts/password/reset/">Récupérez le .</a><br/>
                                </div>

                                

                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}

{% block footer %} {% endblock footer %}