{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block extra_style %}
    <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <br/>
                <div class="panel panel-default">
                  
                    <div class="panel-body">

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                            <div class="panel panel-default">
                                
                                <div class="panel-body" style='background:#fff; box-shadow:none'>

                                    <br>
                                      <!-- second form to hold -->  

                                    <div class="col-sm-11">
                                      
                                      <br/> <br/> 

                                      <p class="login-helptext">Vous avez été déconnecté avec succés.</p>


                                      <blockquote>
                                        


                                        <hr>

                                        <a class="btn btn-lg " href="/">
                                          <i class="fa fa-home fa-3x pull-left blue mid-size"></i> &nbsp; Retour vers la page principale
                                        </a>
                                        <hr>

                                        <a class="btn btn-lg " href="/accounts/login">
                                          <i class="fa fa-sign-in fa-2x pull-left red"></i> &nbsp; Se connecter une autre fois
                                        </a>
                                        <hr>

                                      </blockquote>
                                        

                                      <br/> <br/> <br/>

                                    </div>

                                </div>


                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}

{% block footer %} {% endblock footer %}