{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block style %}
      <!-- Stylesheets -->
        <link href="/static/header/header.css" rel="stylesheet">
        <link href="/static/style/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/fontawesome/css/font-awesome.css">
        <link href="/static/style/style2.css" rel="stylesheet">
        <link href="/static/style/slider2.css" rel="stylesheet">
        
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegoo" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/style/flexslider.css">
        

        <link rel="stylesheet"  href="/static/style/responsive.css" type="text/css" media="all">
        <!-- social fonts --> 
        <link rel="stylesheet" href="/static/fonts/stylesheet.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/header_style.css">

        <link rel="stylesheet" href="/static/test.css">
        <!-- vmap --> 
        <link rel="stylesheet" href="/static/vmap/jqvmap.css">

        <link rel="stylesheet" href="/static/vmap/jqvmap.css">

        <!-- wyswygt --> 
        <link rel="stylesheet" href="/static/bootstrap-wysihtml5/lib/css/bootstrap-wysihtml5-0.0.2.css">
        <link rel="stylesheet" href="/static/bootstrap-wysihtml5/lib/css/wysihtml5-color.css">
        


        <!-- sharethis webservice --> 
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "fc960723-2a1c-4123-bacd-9e76284af85e", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

        
    {% endblock style %}  

{% block extra_style %}
  <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <br/>

                <div class="panel panel-default">

                    <div class="panel-body" style='background:#fff'>
                      <br/> <br/>

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                          <p class="register-helptext" style='text-align:center'> 
                                    S'enregistrer
                                  </p>
                                  <hr/>

                            <div class="panel panel-default">
                                
                                <div class="panel-body">

                                  

                                    <br>
                                      <!-- second form to hold -->  
                                    <form class="form-horizontal niceform" method="post" enctype="multipart/form-data" role="form" action='/accounts/register_emp/'>
                                      {% csrf_token %}

                                     <div class="control-group">
                                        <label class="control-label">Société</label>
                                        <div class="controls">
                                           {{ form.username }}
                                           {% if form.username.errors %}  <span class="help-inline">{{ form.username.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="clearfix"></div>

                                     <div class="control-group" style='display:none'>
                                        <div class="controls">
                                           <div style='display:none'><input type='hidden' name='first_name' value='employer' /></div>
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">Téléphone</label>
                                        <div class="controls">
                                           {{ form.phone }}
                                           {% if form.phone.errors %}  <span class="help-inline">{{ form.phone.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">code postal</label>
                                        <div class="controls">
                                           {{ form.postal_code }}
                                           {% if form.postal_code.errors %}  <span class="help-inline">{{ form.postal_code.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">ville</label>
                                        <div class="controls">
                                           {{ form.town }}
                                           {% if form.town.errors %}  <span class="help-inline">{{ form.town.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">Email</label>
                                        <div class="controls">
                                           {{ form.email }}
                                           {% if form.email.errors %}  <span class="help-inline">{{ form.email.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">Mot de passe</label>
                                        <div class="controls">
                                           {{ form.password1 }}
                                           {% if form.password1.errors %}  <span class="help-inline">{{ form.password1.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">Vérifier mot de passe</label>
                                        <div class="controls">
                                           {{ form.password2 }}
                                           {% if form.password2.errors %}  <span class="help-inline">{{ form.password2.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <div class="control-group">
                                        <label class="control-label">Site web</label>
                                        <div class="controls">
                                          {{ form.website }}
                                          {% if form.website.errors %}  <span class="help-inline">{{ form.website.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>

                                     <br>

                                     <div class="control-group">
                                        <label class="control-label">Presentation de l'offre</label>
                                        <div class="controls">
                                            {{ form.presentation }}
                                            {% if form.presentation.errors %}  <span class="help-inline">{{ form.presentation.errors }}</span> {% endif %}
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>
                                     <br>

                                     <div class="form-actions ">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                        <button type="button" class="btn btn-danger" onclick='javascrpt:window.location.href="/"'>Retour</button>
                                     </div>
                                  </form>

                                </div>

                                <div class="panel-footer ">
                                    <b>Vous possedez un compte ?</b> <a href="/accounts/login/">S'authentifier</a>
                                </div>

                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}
{% block footer %} {% endblock footer %}


{% block js %}
        <script src="/static/js/jquery.js"></script>
        <script src="/static/style/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/jquery.infinitescroll.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>

        <script src="/static/jasny-bootstrap/js/jasny-bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
        <!-- vmap --> 
        <script type='text/javascript' src="/static/vmap/jquery.vmap.js" ></script>         
        <script type='text/javascript' src="/static/vmap/jquery.vmap.france.js" ></script>

        <script type="text/javascript" src="/static/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>         
        <script type="text/javascript" src="/static/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.js"></script>         

        <script type='text/javascript'>
          jQuery(document).ready(function($) {
            $('#id_presentation').wysihtml5({
              "font-styles": false,
              "color":false,
              "link":false,
              "image":false
            });
          });
        </script>
{% endblock js %}