{% extends "sitebase.html" %}
{% load i18n dajaxice_templatetags %}

{% block extra_style %}

<link rel="stylesheet" type="text/css" href="/static/css/dark-blue.min.css" />
<style type='text/css'>
  .selected img {
    opacity:0.5;
  }
</style> 

{% endblock extra_style %}   

{% block middlecontent %}

<div class="col-sm-8">

  <br/>

  <div class="panel panel-default">
    <div class="panel-heading"> {{car.title}} </div>
    <div class="panel-body">

     <!-- car slider --> 
    <br/>
    

    <hr/>
    
    <br/>

    <div class="col-md-12 content-box">
            <h3 class="content-box-header ui-state-default">
                <span>{% trans "Description de l'offre" %}</span>
            </h3>
            <div class="content-box-wrapper">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, animi, sit, distinctio alias laborum dolor necessitatibus magni id repellendus iusto consequatur pariatur voluptate provident perspiciatis deserunt et impedit eaque? Totam.
            </div>
        </div>

    <hr/>

    <br/>
    
    <div class="car-desc">
      
            <div class="col-md-12">

                <div class="dashboard-panel content-box remove-border bg-green">
                    <div class="content-box-wrapper">
                        <div class="header">
                            {{car}}
                            <span>Year - {{car.year_display}}</span>
                        </div>
                    </div>
                    <table class="table text-center boo-table table-striped ">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="font-bold text-left">Model</td>
                                <td><div class="label bg-orange">&nbsp;</div></td>
                                <td class="text-right">
                                    {{car.model_display}}
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="font-bold text-left">Price</td>
                                <td><div class="label bg-black">&nbsp;</div></td>
                                <td class="text-right">
                                    $ {{car.price_display}}
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="font-bold text-left">Manufacturor</td>
                                <td><div class="label bg-green">&nbsp;</div></td>
                                <td class="text-right">
                                    {{car.manufacturor_display}}
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="font-bold text-left">CD Player</td>
                                <td><div class="label bg-red">&nbsp;</div></td>
                                <td class="text-right">
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="font-bold text-left">Status</td>
                                <td><div class="label bg-azure">&nbsp;</div></td>
                                <td class="text-right">
                                    {{ car.used }}
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="font-bold text-left">Owner Phone number</td>
                                <td><div class="label bg-blue-alt">&nbsp;</div></td>
                                <td class="text-right">
                                    000-000-000
                                </td>
                            </tr>
                        </tbody>
                    </table>
            <div class="button-pane">

                <div class="heading medium">
                    
                  {% if can_edit %}
                    <a href="/offer/{{car.id}}/edit" class="btn medium ui-state-default" title="">
                        <span class="button-content">{% trans "Modifier l'annnonce " %}</span>
                    </a>
                  {% endif %}

                </div>
            </div>
        </div>

    </div>  
      
    </div> <!-- car desc ends --> 

    <br/><br/>

      <!-- car slider ends --> 
      
    </div> <!-- end panel body -->
    
  </div>

<!-- google ads -->       
<div class="panel panel-default">
 <div class="panel-body">
   <div class="col-sm-12">
     <img src="http://placehold.it/670x70&amp;text=Google_ads" alt="placeholder image" class='img-responsive'>
   </div>
 </div>
</div>
  
</div> <!-- end span8 -->
  
{% endblock middlecontent %}

<br/>


{% block sidecontent %}
  {% include "./parts/simple_sidecontent.html" %}
{% endblock sidecontent %}



{% block extra_js %}
  <script type="text/javascript">

    $(document).ready(function(){
      /**
       * Carousel
       */
      $('#myCarousel').carousel({
      interval: 7000
  });

  // handles the carousel thumbnails
  $('[id^=carousel-selector-]').click( function(){
    var id_selector = $(this).attr("id");
    var id = id_selector.substr(id_selector.length -1);
    id = parseInt(id);
    $('#myCarousel').carousel(id);
    $('[id^=carousel-selector-]').removeClass('selected');
    $(this).addClass('selected');
  });

  // when the carousel slides, auto update
  $('#myCarousel').on('slid', function (e) {
    var id = $('.item.active').data('slide-number');
    id = parseInt(id);
    $('[id^=carousel-selector-]').removeClass('selected');
    $('[id^=carousel-selector-'+id+']').addClass('selected');
  });
    
    });
  </script>

{% endblock extra_js %}

