{% extends "sitebase.html" %}
{% load group_check %}

{% block extra_script %}
  <script type="text/javascript">
  $(document).ready(function() {
    $('#francemap').vectorMap({
        map: 'france_fr',
      hoverOpacity: 0.5,
      hoverColor: "#EC0000",
      backgroundColor: "#ffffff",
      color: "rgba(18, 127, 182, 0.4)",
      borderColor: "#000000",
      selectedColor: "#08C",
      enableZoom: false,
      showTooltip: true,
        onRegionClick: function(element, code, region)
        {
            // var message = 'Région : "'+ region + '" || Id : "'+ code + '"';

          var dict = {
                region:        code,
                category:     'all',
                offer:        'all',
                low_salary:   'all',
                high_salary:  'all',
                csrfToken :   $('input[name="csrfmiddlewaretoken"]').val()
                };

                var query_string = $.param( dict, true );
                window.location.href = '/search_results/?'+query_string;
            
        }
    });
  });
  </script>
{% endblock extra_script %}

{% load dajaxice_templatetags %}

{% load i18n %}

    {% block middlecontent %}

    <div class="col-sm-8">

      <br/>
    
    <div id="respo">

      <!-- test ineractive map --> 
      <div class="panel panel-default">
        <div class="panel-heading">
          Recherche par région
        </div>

        <div class="panel-body">
          <div id="francemap" style="width: 300px; height: 300px; margin-left: 25%;"></div>
        </div>
      </div>
      <!-- test ineractive map ends --> 

      <div class="panel panel-default">
     <div class="panel-heading"> {% trans "Les Dernieres offres" %} </div>
     <div class="panel-body">

        <div id="wrapper2">
        <div id="carousel2">

          {{ boby }}
          
          <ul>
            
            {% for i in cars %}
              <li>
                <div class="col-lg-12">

                    <div class="post-block-out " style="direction:{{ direction }}">
        
                      <div class="post-block">
                  
                          <div class="post-left">
                              <a href="#" title="My First Classified Ad">
                                <!-- <img class="attachment-medium img-thumbnail" alt="" title="" src="{{ i.image.thumb_url }}" width='87'> --> <br/>
                                  <div class="
                                {% if i.offerType == '1' %}
                                  tile-red
                                {% elif i.offerType == '2' %}
                                  tile-green
                                {% elif i.offerType == '3' %}
                                  tile-orange
                                {% elif i.offerType == '4' %}
                                  tile-blue
                                {% else %}
                                  tile-gray
                                {% endif %}
                                ">
                                  {{ i.offerType_display }}  
                                </div>
                              </a>                
                          </div>
                  
                          <div class="post-right full">
                          
                              <h3><a href="{{i.get_absolute_url}}">{{ i.title }}</a></h3>
                              
                              <div class="clr"></div>
                              
                                
                              <p class="post-meta">
                                  <span class="folder">
                                    <a href="#" rel="tag">{{ i.category_display }}
                                  </a>
                                  </span> | 
                                  <span class="owner">
                                    <a href="#" title="Posts by admin" rel="author">{{i.region_display}}</a>
                                  </span> | 
                                  <span class="clock"><span>{{i.created}}</span></span>
                              </p>
                              
                              <div class="clr"></div>
                              
                              <p class="post-desc">
                                {% if i.description  %}
                                  {{ i.description }}
                                {% else %}
                                  {% trans "Pas de description" %}
                                {% endif %}
                                <!-- <i class="glyph-icon icon-big icon-cogs"></i> --> 
                              </p>
                              
                                <p class="stats">{{i.views}} &nbsp; vues</p>
                              
                              <div class="clr"></div>
                  
                          </div>
                  
                          <div class="clr"></div>

                      </div><!-- /post-block -->
          
                    </div> <!-- post-block-out ends --> 

                </div> <!-- end col-sm-12 --> 
                
              </li>

              {% empty %}    
              <li>
                <img src="http://placehold.it/80x80" alt="" class="img-thumbnail">
                <div class="car-meta">
                  <h4>lorem 1</h4>
                  <i class='icon icon-comments-alt'></i> <span>13 Comments</span> <br/>  
                  <i class="icon icon-calendar"></i> <span>12/12/12</span>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/80x80" alt="" class="img-thumbnail">
                <div class="car-meta">
                  <h4>lorem 1</h4>
                  <i class='icon icon-comments-alt'></i> <span>4 Comments</span> <br/>  
                  <i class="icon icon-calendar"></i> <span>12/12/12</span>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/80x80" alt="" class="img-thumbnail">
                <div class="car-meta">
                  <h4>lorem 1</h4>
                  <i class='icon icon-comments-alt'></i> <span>35 Comments</span> <br/>  
                  <i class="icon icon-calendar"></i> <span>12/12/12</span>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/80x80" alt="" class="img-thumbnail">
                <div class="car-meta">
                  <h4>lorem 1</h4>
                  <i class='icon icon-comments-alt'></i> <span>10 Comments</span> <br/>  
                  <i class="icon icon-calendar"></i> <span>12/12/12</span>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/80x80" alt="" class="img-thumbnail">
                <div class="car-meta">
                  <h4>lorem 1</h4>
                  <i class='icon icon-comments-alt'></i> <span>10 Comments</span> <br/>  
                  <i class="icon icon-calendar"></i> <span>12/12/12</span>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/80x80" alt="" class="img-thumbnail">
                <div class="car-meta">
                  <h4>lorem 1</h4>
                  <i class='icon icon-comments-alt'></i> <span>10 Comments</span> <br/>  
                  <i class="icon icon-calendar"></i> <span>12/12/12</span>
                </div>
            </li>
            {% endfor %}
            
            
          </ul>

          <div class="clearfix"></div>
          <a id="prev2" class="prev" href="#">&lt;</a>
          <a id="next2" class="next" href="#">&gt;</a>
          <div id="pager2" class="pager"></div>
        </div>
      </div>

     </div>
   </div>
      
    </div>
    
    <div class="clearfix"></div>  
    <!-- Authors word -->
   <div class="panel panel-default">
    <div class="panel-heading"> {% trans "On a choisi pour vous" %} </div>
    <div class="panel-body">
       <article class="single">
          <div class="inner">
            <div class="rows">
              <div class="col-sm-6 col-lg-6 img-responsive">
                <a href="single.html">
                  <img src="http://placehold.it/270x150" alt="Blog Image" class="img-thumbnail">
                </a><!-- end a -->  
              </div><!-- end image -->
              <div class="col-sm-6">

                  <h3 class="highlighted"><a href="single.html">Offre du jour</a></h3>
                  <hr>
                   <h5 class='highlighted'> Domaine: Batîments </h5>
                   <h5 class="highlighted">Location : Paris intramuros</h5>
                   <h5 class="highlighted">Date d'expiration : 15/12/2014</h5>
                
              </div><!-- end row -->
          </div><!-- end inner -->
          </div>
        </article>

    </div>
   </div>

   <div class="clear"></div>

    <!-- carousel events --> 

   <div class="panel panel-default">
     <div class="panel-body">
       <div class="col-sm-12">
         <img src="http://placehold.it/670x70&text=espace de publicite" alt="placeholder image" class='img-responsive'>
       </div>
     </div>
   </div>
      
    </div> <!-- end span8 -->
      
    {% endblock middlecontent %}

    <br/>

  {% block extra_js %}

    <script type="text/javascript">

      $(document).ready(function(){
      /* Flex image slider */
         $('.flex-image').flexslider({
            direction: "vertical",
            controlNav: false,
            directionNav: true,
            pauseOnHover: true,
            slideshowSpeed: 10000      
         });
      /* Flexslider for product images */
         $('.product-image-slider').flexslider({
            direction: "vertical",
            controlNav: false,
            directionNav: true,
            pauseOnHover: true,
            slideshowSpeed: 10000,
         });
      });
    </script>

     <script type="text/javascript">
          $(document).ready(function(){

            $('#carousel ul').carouFredSel({
              prev: '#prev',
              next: '#next',
              pagination: "#pager",
              scroll: 1,
              // auto: false,
              responsive: true,
              duration: 2000,
              items: 3
            });

          });
        </script>

        <script type="text/javascript">
          $(document).ready(function(){

            $('#carousel2 ul').carouFredSel({
              prev: '#prev2',
              next: '#next2',
              pagination: "#pager2",
              // height: '100%',
              auto: false,
              duration: 3000,

              responsive: true,
              direction: 'up',
              scroll: 1,
              items: 5,
              scroll : {
                items : 1,
              },
              items: {
              width: "100%",
              height: '100%',
              visible: {
                min: 5,
                max: 5
                  }
                }
            });

          });
        </script>

    <script>$(".mobile").click(function() {
      $("nav").slideToggle();  
    });

    var menu = $("nav");
    jQuery(window).on('resize', function(){     
        if(!jQuery(".mobile").is(":visible") && !menu.is(':visible'))
        {
            menu.css({'display':''});   
        }
    });//@ sourceURL=pen.js
    </script>

    <script>
      $(window).bind("load resize slid.bs.carousel", function() {
      var imageHeight = $(".active .holder").height();
      $(".controllers").height( imageHeight );
      console.log("Slid");
    });
    </script>

{% endblock extra_js %}      



