{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block extra_style %}
  <link rel="stylesheet" href="/static/social.css">      
    <style type="text/css">
    .niceform ul.errorlist { float: left;color: #C07D7D; margin: 0px 30px; list-style: none; }
    .niceform .break { clear: left;margin-left: 200px; }
    .niceform ul.errorlist li {
        padding: 5px 3px 4px 10px;
        position: relative;
        
    }
    .niceform ul.errorlist li:before {
        content:"";
        position: absolute;
        right: 100%;
        top: 8px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-right: 12px solid rgba(255, 0, 0, 0.4);
        border-bottom: 6px solid transparent;
    }
  </style>
{% endblock extra_style %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <br/>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br/>

                        <br/>
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-7" id='loginform'>
                            <div class="panel panel-default">
                                <div class="panel-heading"> <i class="glyph-icon icon-user"></i> &nbsp; S'enregistrer </div>
                                <div class="panel-body">

                                    <br>
                                      <!-- second form to hold -->  
                                    <form class="form-horizontal niceform" method="post" enctype="multipart/form-data" role="form" action='/accounts/register_emp/'>
                                      {% csrf_token %}

                                     <div class="control-group">
                                        <label class="control-label">Société</label>
                                        <div class="controls">
                                           {{ form.username }}
                                           {% if form.username.errors %}  <span class="help-inline">{{ form.username.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group" style='display:none'>
                                        <div class="controls">
                                           <div style='display:none'><input type='hidden' name='first_name' value='employer' /></div>
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">Téléphone</label>
                                        <div class="controls">
                                           {{ form.phone }}
                                           {% if form.phone.errors %}  <span class="help-inline">{{ form.phone.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">code postal</label>
                                        <div class="controls">
                                           {{ form.postal_code }}
                                           {% if form.postal_code.errors %}  <span class="help-inline">{{ form.postal_code.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">ville</label>
                                        <div class="controls">
                                           {{ form.town }}
                                           {% if form.town.errors %}  <span class="help-inline">{{ form.town.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">Email</label>
                                        <div class="controls">
                                           {{ form.email }}
                                           {% if form.email.errors %}  <span class="help-inline">{{ form.email.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">Mot de passe</label>
                                        <div class="controls">
                                           {{ form.password1 }}
                                           {% if form.password1.errors %}  <span class="help-inline">{{ form.password1.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">Vérifier mot de passe</label>
                                        <div class="controls">
                                           {{ form.password2 }}
                                           {% if form.password2.errors %}  <span class="help-inline">{{ form.password2.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">Site web</label>
                                        <div class="controls">
                                          {{ form.website }}
                                          {% if form.website.errors %}  <span class="help-inline">{{ form.website.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="control-group">
                                        <label class="control-label">Presentation</label>
                                        <div class="controls">
                                            {{ form.presentation }}
                                            {% if form.presentation.errors %}  <span class="help-inline">{{ form.presentation.errors }}</span> {% endif %}
                                        </div>
                                     </div>

                                     <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                        <button type="button" class="btn btn-danger" onclick='javascrpt:window.location.href="/"'>Retour</button>
                                     </div>
                                  </form>

                                </div>

                                <div class="panel-footer">
                                    <b>Vous possedez un compte ?</b> <a href="/accounts/login/">S'authentifier</a>
                                </div>

                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-12">
                        <img src="http://placehold.it/1010x70" alt="placeholder image" class='img-responsive'>  
                      </div>
                    </div>
                </div>

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %}
  
{% endblock sidecontent %}