{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% block extra_style %}
  <link href="/static/style/blog-style.css" rel="stylesheet">
{% endblock extra_style %}

{% block middlecontent %}

  <div class="col-sm-8">
  <br/>

  <div id="respo">
  <div class="panel panel-default">
    <div class="panel-heading"> {% trans "Toutes les offres" %} </div>
    <div class="panel-body">

      <div id="wrapper2">
        <div id="carousel2">
          <!-- article 1 --> 
      {% for i in contacts %}
            <li>
            
              <div class="col-lg-12">

                  <div class="post-block-out " style="direction:{{ direction }}">
        
                      <div class="post-block">
                  
                          <div class="post-left">
                              <a href="#" title="My First Classified Ad">
                                <img class="attachment-medium img-thumbnail" alt="" title="" src="{{ i.image.thumb_url }}" width='87'>
                              </a>                
                          </div>
                  
                          <div class="post-right full">
                          
                                <div class="price-wrap">
                                  <span class="tag-head">&nbsp;</span><p class="post-price">${{i.price_display}}</p>
                                </div>

                              <h3><a href="{{i.get_absolute_url}}">{{ i.title }}</a></h3>
                              
                              <div class="clr"></div>
                              
                                
                              <p class="post-meta">
                                  <span class="folder">
                                    <a href="#" rel="tag">{{ i.category_display }}</a>
                                  </span> | 
                                  <span class="owner">
                                    <a href="#" title="Posts by admin" rel="author">{{i.region_display}}</a>
                                  </span> | 
                                  <span class="clock"><span>{{i.created}}</span></span>
                              </p>
                              
                              <div class="clr"></div>
                              
                              <p class="post-desc">
                                {% if i.description  %}
                                  {{ i.description }}
                                {% else %}
                                  {% trans "Pas de description desponible" %}
                                {% endif %}
                                <i class="glyph-icon icon-big icon-cogs"></i>
                              </p>
                              
                                <p class="stats">{{i.views}} &nbsp; views</p>
                              
                              <div class="clr"></div>


                  
                          </div>
                  
                          <div class="clr"></div>


                  
                      </div><!-- /post-block -->
          
                    </div> <!-- post-block-out ends --> 

              </div>  

            </li>

          {% empty %}    
          <li>
            <img src="/static/img/thumb1.JPG" alt="" class="img-thumbnail">
            <div class="car-meta">
              <h4>lorem 1</h4>
              <i class='icon icon-comments-alt'></i> <span>13 Comments</span> <br/>  
              <i class="icon icon-calendar"></i> <span>12/12/12</span>
            </div>
        </li>
        
        {% endfor %}
      <!-- end article 1 --> 
        </div>
      </div>
      
    </div>
    <!-- end panel body -->

    <br/> 

    <!-- pagination  -->
  <div class="panel panel-default">

    <div class="panel-body">

      <div class="page-numbers">
        <ul>

          {% if contacts.has_previous %}
          <li>
            <a class="prev" href="?page={{ contacts.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
              <i class="prev"></i>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="javascript:void(0)"> {% trans "page" %} &nbsp;{{ contacts.number }} / {{ contacts.paginator.num_pages }} </a>
          </li>
          
          {% if contacts.has_next %}
          <li>
            <a class="next" href="?page={{ contacts.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
              <i class="next"></i>
            </a>
          </li>
          {% endif %}

          <div class="clear"></div>
        </ul>
      </div>
      
    </div>
    
  </div>
<!-- pagination end   -->

    
  </div>
  
  </div>

<!-- google ads -->       
<div class="panel panel-default">
 <div class="panel-body">
   <div class="col-sm-12">
     <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'>
   </div>
 </div>
</div>
  
</div> <!-- end span8 -->
{% endblock middlecontent %}

<br/>

{% block sidecontent %}

  {% include "./parts/search_sidecontent.html" %}

{% endblock sidecontent %}

