{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block style %}
      <!-- Stylesheets -->
        <link href="/static/header/header.css" rel="stylesheet">
        <link href="/static/style/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/fontawesome/css/font-awesome.css">
        <link href="/static/style/style2.css" rel="stylesheet">
        <link href="/static/style/slider2.css" rel="stylesheet">
        
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegoo" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/style/flexslider.css">
        <!-- <link rel="stylesheet"  href="/static/style/template.css" type="text/css" media="all"> --> 
        <link rel="stylesheet" type="text/css" href="/static/social.css">

        <link rel="stylesheet"  href="/static/style/responsive.css" type="text/css" media="all">
        <!-- social fonts --> 
        <link rel="stylesheet" href="/static/fonts/stylesheet.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/croufredsel_style.css">
        <link rel="stylesheet" href="/static/css/header_style.css">

      <!-- jasny bootstrap -->   
        <link rel="stylesheet" href="/static/jasny-bootstrap/css/jasny-bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/aui-production.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" />
        <link rel="stylesheet" type="text/css" href="/static/style/classy.css" />

        <link rel="stylesheet" href="/static/test.css">

        <!-- vmap --> 
        <link rel="stylesheet" href="/static/vmap/jqvmap.css">

        <!-- sharethis webservice --> 
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "fc960723-2a1c-4123-bacd-9e76284af85e", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

        
    {% endblock style %}  

{% block middlecontent %}


<div class="col-sm-8">
  <br/>
  <div id="respo">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mon Profile
      </div>

        <div class="panel-body">
        <br/>

        <div class="col-sm-4">
          
          <div id="people-you-may-know" class="social-nav-list" style="max-width: 340px; padding: 0;">
            <ul class="nav nav-list dividers">
              <li class="nav-header">Photo</li>
              <li class="nav-header">
                  <div class="avatar">
                    <img src="/static/img/user2.png" alt="avatar" class="img-thumbnail" width='110' height='110'>
                  </div>
              </li>
              <br>
            </ul>
          </div> <!-- end avatar -->   

          <hr/>

          <div class="social-nav-list" style="max-width: 340px; padding: 0;">

            <ul class="nav nav-list dividers">
              <li class="nav-header"><i class="icon-wrench blue mid-size"></i> Confidentialité</li>
              <li><a href="/candid_profile"><i class="icon-user gray mid-size"></i> Page du profile</a></li>
              <li><a href="/accounts/password/reset"><i class="icon-key gray mid-size"></i> Changer le mot de passe</a></li>
            </ul>

            <br>
          </div>

        </div>

        <div class="col-sm-8">

          <div class="ad-title">
            Informations générales :
          </div>


        <div class="social-box">
            
            <div class="body">
              
              <form action="." method='post'>
                {% csrf_token %}
                {{ form }}

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Valider</button><br/>
                </div>

              </form>
              
            </div>

            <hr/>

           </div>  

            <div class="social-box span6">
            <div class="header">
              <h4 class="hidden-phone">Autres Infos</h4>

              <div class="tools">
                <ul id="myTab2" class="nav nav-tabs">
                  <li class="active"><a class="active" href="#profile2" data-toggle="tab"><i class="icon-user"></i> CV</a></li>
                  <li class=""><a href="#dropdown12" data-toggle="tab"><i class="icon-cog"></i> Motivations</a></li>
                </ul>
              </div>

            </div>
            <div class="body">
              <div id="myTabContent2" class="tab-content" style="min-height: 280px;">
                <div class="tab-pane fade active in" id="profile2">
                  <p><strong>CV</strong></p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, accusamus, odio consequatur facere tempore rem sed sequi facilis quae doloremque voluptates non delectus quaerat error deleniti nam placeat ratione quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, distinctio!
                    
                  </p>
                </div>
                <div class="tab-pane fade" id="dropdown12">
                  <p><strong>Motivations</strong></p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, accusamus, odio consequatur facere tempore rem sed sequi facilis quae doloremque voluptates non delectus quaerat error deleniti nam placeat ratione quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, distinctio!
                    
                  </p>
                </div>
              </div>


            </div>
          </div>

        </div>

    </div> <!-- end panel body -->  
      
    </div>

</div>

<div class="clearfix"></div>
<!-- Authors word -->

<div class="clear"></div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-12">
      <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'></div>
  </div>
</div>

</div>
<!-- end span8 -->
{% endblock middlecontent %}

<br/>

{% block sidecontent %}
  {% include "./parts/simple_sidecontent.html" %}
{% endblock sidecontent %}


{% block extra_js %}

<script>$(".mobile").click(function() {
      $("nav").slideToggle();  
    });

    var menu = $("nav");
    jQuery(window).on('resize', function(){     
        if(!jQuery(".mobile").is(":visible") && !menu.is(':visible'))
        {
            menu.css({'display':''});   
        }
    });//@ sourceURL=pen.js
    </script>

<script>
      $(window).bind("load resize slid.bs.carousel", function() {
      var imageHeight = $(".active .holder").height();
      $(".controllers").height( imageHeight );
      console.log("Slid");
    });
    </script>
{% endblock extra_js %}