{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% block middlecontent %}

    {% block style %}
      <!-- Stylesheets -->
        <link href="/static/header/header.css" rel="stylesheet">
        <link href="/static/style/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/font-awesome-4.2.0/css/font-awesome.css">
        <link href="/static/style/style2.css" rel="stylesheet">
        <link href="/static/style/slider2.css" rel="stylesheet">
        
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegoo" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/style/flexslider.css">
        <!-- <link rel="stylesheet"  href="/static/style/template.css" type="text/css" media="all"> --> 
        <link rel="stylesheet" type="text/css" href="/static/social.css">

        <link rel="stylesheet"  href="/static/style/responsive.css" type="text/css" media="all">
        <!-- social fonts --> 
        <link rel="stylesheet" href="/static/fonts/stylesheet.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/croufredsel_style.css">
        <link rel="stylesheet" href="/static/css/header_style.css">

      <!-- jasny bootstrap -->   
        <link rel="stylesheet" href="/static/jasny-bootstrap/css/jasny-bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/aui-production.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" />
        <link rel="stylesheet" type="text/css" href="/static/style/classy.css" />

        <link rel="stylesheet" href="/static/test.css">

        <!-- vmap --> 
        <link rel="stylesheet" href="/static/vmap/jqvmap.css">

        <!-- notifications --> 
        <link rel="stylesheet" href="/static/notifications/css/jquery.gritter.css">

        <!-- sharethis webservice --> 
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "fc960723-2a1c-4123-bacd-9e76284af85e", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

        
    {% endblock style %}  


<div class="col-sm-8">
  <br/>
  <div id="respo">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mes offres
      </div>

        <div class="panel-body">
        <br/>

        <div class="col-sm-4">

          <div id="people-you-may-know" class="social-nav-list" style="max-width: 340px; padding: 0;">
            <ul class="nav nav-list dividers">
              <li class="nav-header">&nbsp;</li>
          
              <li class="nav-header">
                  <div class="avatar">
                    <img src="/static/img/user2.png" alt="avatar" class="img-thumbnail" width='100' height='100'>
                  </div>
              </li>
              <br>
          
            </ul>
          </div> <!-- end avatar -->   

          <hr/>

          <div class="social-nav-list" style="max-width: 340px; padding: 0;">
            <!-- BEGIN SHOWN LIST ITEMS -->
            <ul class="nav nav-list dividers">
              <li class="nav-header"><i class="fa fa-wrench blue sml-size"></i> Confidentialité</li>
              <li><a href="/emp_profile_edit/{{ userinfo.id }}"><i class="fa fa-user gray sml-size"></i> Editer le profile</a></li>
              <li><a href="/accounts/password/reset"><i class="fa fa-key gray sml-size"></i> Changer le mot de passe</a></li>

              <li class="nav-header"><i class="fa fa-music blue sml-size"></i> Contenu </li>

              <li><a href="/emp_profile_offres"><i class="fa fa-sitemap gray sml-size"></i> Gérer les offres</a></li>
              <li><a href="#"><i class="fa fa-group gray sml-size"></i> Liste des postulant</a></li>
            </ul>
            <!-- END SHOWN LIST ITEMS -->
            <br>
          </div>


          <hr/>

        </div>

        <div class="col-sm-8">


        <div class="social-box">

            <div class="header">

              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x blue-ns"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse white-ns"></i>
              </span>
              <strong>Informations générales :</strong>

            </div>

            <div class="body">
              <dl class="dl-horizontal">
                <dt>Societé</dt>
                <dd>{{userinfo.user.username}}</dd>
                <br>
                <dt>Représentant</dt>
                <dd>{{userinfo.representant}}</dd>
                <br>
                <dt>N° Siret</dt>
                <dd>{{userinfo.siret}}</dd>
                <br>
                <dt>Code postal</dt>
                <dd>{{userinfo.postal_code}}</dd>
                <br>
                <dt>Ville</dt>
                <dd>{{userinfo.town}}</dd>
                <br>
                <dt>Telephone:</dt>
                <dd>{{userinfo.phone}}</dd>
                <br>
                <dt>Site web:</dt>
                <dd>{{userinfo.website}}</dd>
                <br>
                <br>
                <dt>Date d'enrregistrement:</dt>
                <dd>{{ userinfo.user.date_joined }}</dd>
                <br>
                <br>
                <dt>Dernier acces:</dt>
                <dd>{{ userinfo.user.last_login }}</dd>
                <br>
              </dl>
            </div>
           </div>  



            <div class="social-box span6">
              
            <div class="header">
              <h4 class="hidden-phone">Autres Infos</h4>
              <div class="tools">
                <ul id="myTab2" class="nav nav-tabs">
                  <li class="active"><a class="active" href="#profile2" data-toggle="tab"><i class="fa fa-user"></i> Presentation</a></li>
                  <li class=""><a href="#dropdown12" data-toggle="tab"><i class="fa fa-cog"></i> Gestion</a></li>
                </ul>
              </div>

            </div>
            <div class="body">
              <div id="myTabContent2" class="tab-content" style="min-height: 280px;">
                <div class="tab-pane fade active in" id="profile2">
                  <p><strong>Presentation:</strong></p>
                  <p> 
                    {{ userinfo.presentation|safe }}
                    
                  </p>
                </div>
                <div class="tab-pane fade" id="dropdown12">
                  <p><strong>Offres</strong></p>
                  <p>

                    <strong>Les des offres déposés</strong>
                    <ul>
                      {% for i in userinfo.get_offers %}
                        <li> {{ i.title }} </li>
                      {% endfor %}
                    </ul>
                    
                  </p>
                </div>
              </div>


            </div>
          </div>

        </div>

    </div> <!-- end panel body -->  
      
    </div>

</div>

<div class="clearfix"></div>
<!-- Authors word -->

<div class="clear"></div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-12">
      <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'></div>
  </div>
</div>

</div>
<!-- end span8 -->
{% endblock middlecontent %}
<br/>


{% block sidecontent %}
  {% include "./parts/simple_sidecontent.html" %}
{% endblock sidecontent %}



{% block extra_js %}

<script>$(".mobile").click(function() {
      $("nav").slideToggle();  
    });

    var menu = $("nav");
    jQuery(window).on('resize', function(){     
        if(!jQuery(".mobile").is(":visible") && !menu.is(':visible'))
        {
            menu.css({'display':''});   
        }
    });//@ sourceURL=pen.js
    </script>

<script>
      $(window).bind("load resize slid.bs.carousel", function() {
      var imageHeight = $(".active .holder").height();
      $(".controllers").height( imageHeight );
      console.log("Slid");
    });
    </script>
{% endblock extra_js %}